{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.navbar_start: Items for the navbar start region.
 * - page.navbar_center: Items for the navbar center region.
 * - page.navbar_end: Items for the navbar end region.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="!container mx-auto pb-5">

  {{ include('ui_suite_daisyui:navbar', {
  start: page.navbar_start,
  center: page.navbar_center,
  end: page.navbar_end,
  }, with_context: false) }}

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <main role="main">
    {% if page.sidebar %}
      {{ include('ui_suite_daisyui:grid_2_regions', {
      col_first: page.sidebar,
      col_second: page.content,
      col_span: ['col-span-12', 'col-span-12'],
      col_span_lg: ['lg:col-span-3', 'lg:col-span-9'],
      col_span_md: ['md:col-span-4', 'md:col-span-8'],
      col_span_sm: ['sm:col-span-12', 'sm:col-span-12'],
      }, with_context: false) }}
    {% else %}
      {{ include('ui_suite_daisyui:grid_1_region', {
      col_first: page.content,
      }, with_context: false) }}
    {% endif %}
  </main>

  {% if page.footer %}
    {{ include('ui_suite_daisyui:grid_1_region', {
    col_first: page.footer,
    container_type: "breakout",
    }, with_context: false) }}
  {% endif %}

</div>{# /.container #}
